
.calculatorBody{
	display:flex;
	flex-direction: column;

	height: 100%;
	width: 100%;

	background-color: $white;

	overflow: hidden;

	font-family: $font-stack-prim;
  font-weight: 300;
}


.viewport{
	padding: 5%;
	height: 25%;
	width: 100%;

	background-color: #1A1A1A;

	.display{
		display: flex;
		justify-content: flex-end;
		align-items: center;

		overflow: hidden;

		height: 100%;

		font-size: 4em;
		color: $white;
	}
}

.keyboard{
	display: flex;

	height: 75%;
	width:100%;

	button{
		@include centerContent;
		display: inline-block;
		padding: 0;
		margin: 0;
		height: 25%;
		width: 20%;
		transition: all .1s ease-in-out;
		font-size: 30px;
		border: solid $grey .25px;
		&:hover{
			transform: scale(1.02);
			cursor: pointer;
		}
		&:active{
			transform: scale(0.97);
			cursor: pointer;
		}
	}

	.classic-calc{
		display: flex;

		width: 100%;
		height: 100%;

		.left-input-keys{
			width: 75%;
			height: 100%;

			.function-keys{
				display: flex;

				width: 100%;
				height: 20%;

				button {
					@extend button ;

					width: 33.3%;
					height: 100%;

					color: $dark-grey;
					background-color: #BBBFBC;
				}
			}

			.digit-keys{
				display: flex;
				flex-flow: wrap;

				width: 100%;
				height: 80%;

				button{
					@extend button ;

					width: 33.3%;
					height: 25%;

					color: $dark-grey;
					background-color: #EAEEE9;

					&[size="2"]{
						width: 66.6%;
						height: 25%;
					}
				}
			}
		}

		.operator-keys{
			display: flex;
			flex-direction: column;

			width: 25%;
			height: 100%;

			button{
				@extend button ;

				width: 100%;
				height: 20%;

				font-size: 35px;
				color: $white;
				background-color: inherit;
			}

		background-image:linear-gradient(#FF8F00, #EE730E);
		}
	}

	.landscape{
		display: none;
	}
}

@media only screen
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {
	.viewport{
	 	padding: 2% 5% !important;
	}

	button{
		border: solid $light-grey 1px !important;
	}
	
	.keyboad{
		display: flex !important;

		.landscape{
			display: flex !important;
		}
	}
}
