.viewport{
	display: flex;
	justify-content: flex-end;
	align-content: center;

	h1{
		margin: 0;
		@include centerContent;
	}
	font-size: 25px;
	color: $white;
	padding: 5%;
	height: 100px;
	width: 100%;
	background-color: #1A1A1A;
	border-radius: 5px;
	h1{

	}
}
