/******************************
	SCSS FOR MOBILE DIVICES
******************************/
html{
	@include centerContent;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: red;
}

body {
	@include centerContent;
	background-color: blue;
	height: 100%;
	width: 100%;
}

.App {
	@include centerContent;
	background:$black;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}
